{% extends "_base.html" %}

{% block home %}
{% endblock %}

{% block body %}
<p />
<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <h1>Docker based Continuous Delivery Pipelines</h1>
      </div>
   </div>
 </div>
</div>
<div class="container text-center">
  <a class="btn btn-default btn-lg" href="links.html">Links</a>
  <a class="btn btn-default btn-lg" href="documentation/index.html">Documentation</a>
</div>

{% endblock %}
